body {
    background-color:black;
    color: ghostwhite;
}

.lista{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

/*disposiciona os itens em colunas*/
.item {
    display: grid;
    grid-template-columns: 1fr 200px 200px;  3 colunas 
    gap: 20px;
    padding: 6px 0;
    border-bottom: 1px solid #ddd;
}

.cabecalho {
    font-weight: bold;
    border-bottom: 2px solid #000;
}


